# ignore original data

original

# don't include hard copy of working dataset

working

# ignore reference material

reference

# ignore my notes

notes.txt

# old copies of an analysis

OLD*

# ignore spurious .html in root

/*.html