# ignore original data

# original

# Don't include databse files
*.laccdb
*.accdb

# don't include hard copy of working dataset

working

# ignore reference material

reference

# ignore my notes

notes.txt

# old copies of an analysis

OLD*

# ignore spurious .html in root

/*.html

scratch.R
